# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCFbeGLrlAQ2NftzkbIRgBF4ZAWogl9E9o
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dungeons-e-drogas.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dungeons-e-drogas
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dungeons-e-drogas.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=666663846015
NEXT_PUBLIC_FIREBASE_APP_ID=1:666663846015:web:47d53f675333f15bab3f4a

# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:4000
